# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
# website
portal/dist
portal/node_modules/
portal/dist/
portal/npm-debug.log
portal/test/unit/coverage
portal/test/e2e/reports
portal/selenium-debug.log
portal/yarn-error.log

cmd/library/library
cmd/library/library.log

library
library.log
